{% extends 'base.html' %}
{% load static %}
{% load user_filters %}

{% block title %}Избранное{% endblock %}

{% block content %}

        <div class="main__header">
            <h1 class="main__title">Избранное</h1>

            {% include 'recipes/tags.html' %}

        </div>
        <div class="card-list">
            {% for item in favorite %}
                <div class="card" data-id="{{ item.recipe.id }}">
                    <a href="{% url 'recipe_detail' pk=item.recipe.pk %}" class="link"><img src="{{ item.recipe.image.url }}" alt="Какой-то текст" class="card__image"></a>
                    <div class="card__body">
                        <a class="card__title link" href="{% url 'recipe_detail' pk=item.recipe.pk %}">{{ item.recipe.title }}</a>
                        <ul class="card__items">
                            {% include 'recipes/badges.html' with object=item.recipe %}
                        </ul>
                        <div class="card__items card__items_column">
                            <p class="card__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.</p>
                            <p class="card__text"><span class="icon-user"></span> {{ item.recipe.author }}</p>
                        </div>
                    </div>
                    <div class="card__footer">
                        {% csrf_token %}
                        {% include 'recipes/shopping_list_button.html' with user=request.user recipe=item.recipe %}
                        {% include 'recipes/favorite_button.html' with user=request.user recipe=item.recipe %}
                    </div>
                </div>
            {% endfor %}

        </div>

        {% include 'recipes/paginator.html' %}

{% endblock %}

{% block scripts %}<script src="{% static 'js/favorite.js' %}"></script>{% endblock %}