{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Создание рецепта{% endblock %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'recipe_create' %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.title.id_for_label }}" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    {{ form.title|addclass:"form__input" }}
                    <span class="form__error">{{ form.title.error }}</span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        {% for tag in form.tag %}
                             <div class="tags__item">
                                <input type="checkbox" name="breakfast" id="id_breakfast" class="tags__checkbox
                                {% if tag.choice_label == 'Завтрак' %} tags__checkbox_style_orange
                                {% elif tag.choice_label == 'Обед' %} tags__checkbox_style_green
                                {% else %} tags__checkbox_style_purple
                                {% endif %}">
                                <label for="id_breakfast" class="tags__label">{{ tag.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__error">{{ form.tag.error }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.cooking_time.id_for_label }}" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.cooking_time|addclass:"form__input" }}
                    <label for="{{ form.cooking_time.id_for_label }}" class="form__label">минут</label>
                    <span class="form__error">{{ form.cooking_time.error }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">Описание</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                    <span class="form__error">{{ form.description.error }}</span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать рецепт</button>
            </div>
        </form>
    </div>

{% endblock %}